@font-face {
    font-family: "cat";
    src: url("../resources/fonts/Catcafe-v5yM.ttf") format('truetype');
}

.title{
    position: relative;
    margin-left: 700px;
    font-family: cat, serif;
    font-size: 80px;
    color: #fcc6bf;
    white-space: nowrap;
}

.title:visited{
    color: #FCC6BF;
    text-decoration: none;
}

.information{
    padding-left: 80px;
    padding-top: 60px;
}

.smeekimg{
    height: 200px;
}

.smeekinfo{
    padding-top: 60px;
    position: absolute;
    color: #FCC6BF;
    font-family: cat, serif;
    font-size: 30px;
    top: 122px;
    padding-left: 300px;
}

.smeekicon1{
    margin-outside: 30px;
    padding-top: 27px;
    position: absolute;
    height: 50px;
    left: 240px;
}

.smeekicon2{
    position: absolute;
    padding-top: 95px;
    height: 50px;
    left: 240px;
}

.widerimg{
    padding-top: 50px;
    height: 200px;
}

.widerinfo{
    padding-top: 60px;
    position: absolute;
    color: #FCC6BF;
    font-family: cat, serif;
    font-size: 30px;
    top: 373px;
    padding-left: 300px;
}

.widericon1{
    margin-outside: 30px;
    padding-top: 27px;
    position: absolute;
    height: 50px;
    left: 240px;
}

.widericon2{
    position: absolute;
    padding-top: 95px;
    height: 50px;
    left: 240px;
}

.shioriimg{
    padding-top: 50px;
    height: 200px;
}

.shioriinfo{
    padding-top: 60px;
    position: absolute;
    color: #FCC6BF;
    font-family: cat, serif;
    font-size: 30px;
    top: 627px;
    padding-left: 300px;
}

.shioriicon1{
    margin-outside: 30px;
    padding-top: 27px;
    position: absolute;
    height: 50px;
    left: 240px;
}

.shioriicon2{
    position: absolute;
    padding-top: 95px;
    height: 50px;
    left: 240px;
}

.please{
    padding-left: 900px;
}

.square{
    position: absolute;
    top: 130px;
}
.pleasetxt {
    top: 100px;
    font-size: 50px;
    position: absolute;
    font-family: cat, serif;
    color: #000000;
}