@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    position: absolute;
    background-color: white;
}
@font-face {
    font-family: "cat";
    src: url("../resources/fonts/Catcafe-v5yM.ttf") format('truetype');
}


.nav{
    position: relative;
    margin:auto;
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 560px;
}

li{
    position: relative;
    padding-top: 170px;
    font-family: cat, serif;
    display: block;
    text-align: center;
}

li a{
    font-size: 80px;
    width: 700px;
    position: absolute;
    color: #d6808c;
    text-align: left;
    text-decoration: none;
}

li a:hover{

}
.main-body{
    height: auto; /*if more info comes on the page, it will stretch down*/
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.character{
    display: block;
    position: absolute;
    vertical-align: middle;
    padding-left: 900px;
}

.white_circle{
    display: block;
    opacity: .80;
    position: absolute;
    padding-left: 940px;
}

.pink_bg{
    display: block;
    opacity: .50;
    position: absolute;
    padding-top: 75px;
    padding-left: 150px;
}
.about-txt{
    width: 750px;
    padding-top: 150px;
    padding-left: 180px;
    position: absolute;
    font-family: cat, serif;
    font-size: 90px;
    color: #d97c82;
    text-align: center;
    opacity: .70;
}
.sakura_bg{
    opacity: .70;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    display: block;
    padding-bottom: 60px;
}