@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}
@font-face {
    font-family: "cat";
    src: url("../resources/fonts/Catcafe-v5yM.ttf") format('truetype');
}

.nav{
    position: relative;
    margin:auto;
    text-align: center;
    white-space: nowrap;
}

.title{
    position: relative;
    margin-left: 800px;
    font-family: cat, serif;
    font-size: 80px;
    color: #ffffff;
    white-space: nowrap;
}

ul{
    padding-left: 370px;
    position: relative;
    font-family: cat, serif;
    margin: auto;
    font-size: 50px;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    color: #FFC0CB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    --tw-blur: blur(8px);

}