@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}
@font-face {
    font-family: "cat";
    src: url("../resources/fonts/Catcafe-v5yM.ttf") format('truetype');
}

.title{
    position: relative;
    margin-left: 700px;
    font-family: cat, serif;
    font-size: 80px;
    color: #ffffff;
    white-space: nowrap;
}
.temp{
    position: absolute;
    display: block;
}

.info{
    position: absolute;
    color: white;
    font-family: cat, serif;
    font-size: 50px;
    text-align: center;
    padding-left: 800px;
    padding-top: 300px;
}
.red_square{

    position: relative;
    display: block;
    padding-bottom: 60px;
}