@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}
@font-face {
    font-family: "cat";
    src: url("../resources/fonts/Catcafe-v5yM.ttf") format('truetype');
}

.title{
    position: relative;
    margin-left: 700px;
    font-family: cat, serif;
    font-size: 80px;
    color: #ffffff;
    white-space: nowrap;
}

.red_square{

    position: relative;
    display: block;
    padding-bottom: 60px;
}